<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Song Recommender</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script>
    function toggleTopTracks() {
      var topTracksList = document.getElementById('top-tracks-list');
      topTracksList.classList.toggle('expanded');
    }
  </script>
</head>
<body>
  <header>Solo Song</header>
  <div class="recommendation">
    <h1>Today's Song Recommendation</h1>
    <a href="" target="_blank">
      <img src="" alt="Album Art" id="recommendation-image">
    </a>
    <p><a href="" target="_blank" id="recommendation-link"><strong id="recommendation-name"></strong></a> by <span id="recommendation-artist"></span></p>
  </div>
  <div class="top-tracks-button" onclick="toggleTopTracks()">Your Top Tracks</div>
  <ul id="top-tracks-list" class="collapsed"></ul>
  <div class="info-text">
    Overstimulation is a constant in our everyday lives. We are always watching or listening to something. While screen time has many concerned, we haven't stopped to think about it 24/7 music listening could be overstimulating our brains as well. <strong><span style="color: #2ecc71;">Solo Song</span></strong> intends to give you just one song per day to listen to in order to cherish music and allow for time to be away from media throughout the day.
  </div>
  <img class="info-image" src="soloLogo.png" alt="Solo Song Logo">
  <footer>&copy; 2024 Solo Song</footer>
  <script>
    function updatePage(recommendationInfo, topTracksHtml) {
      document.getElementById('recommendation-image').src = recommendationInfo.image;
      document.getElementById('recommendation-link').href = recommendationInfo.url;
      document.getElementById('recommendation-name').textContent = recommendationInfo.name;
      document.getElementById('recommendation-artist').textContent = recommendationInfo.artist;
      document.getElementById('top-tracks-list').innerHTML = topTracksHtml;
    }
  </script>
</body>
</html>
